/* GENERAL */
* {
  box-sizing: border-box;
}
.wp-block-cover {
	margin-bottom: 2%;
}
.entry-content ul li {
  font-size: 13px;
  letter-spacing: 1px;
  color: #6b6b6b;
  line-height: 20px;
}
.round-corners {
  border-radius: 30px;
}
.gallery-center {
  margin: auto 10%;
}
.choose-us-section figure:hover {
  background-color: #b30000;
}
h1.vw-page-title {
  display: none;
}
h2 {
  color: #b30000;
  margin-top: 2.5%;
  text-align: center;
}
h5 {
  color: #ff5400;
}
[class^="wp-block-"]:not(.wp-block-gallery) figcaption {
  font-style: italic;
  margin-bottom: 1.5em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
p > span.custom_desc {
  font-size: 15px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.row:before,
.row:after {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}
.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}
.columns-double {
  float: left;
  width: 47%;
  padding: 2%;
  margin: 3% 1%;
  background-color: white;
  border: 1px solid #eee;
}
.columns-double-flex {
  float: left;
  width: 44%;
  padding: 2%;
  margin: 0 1% 2% 1%;
  background-color: white;
  border: 1px solid #eee;
}
.columns-double:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.columns-full {
  width: 90%;
  padding: 50px;
  margin: 0 1% 2% 1%;
  background-color: white;
  border: 1px solid #eee;
}
.columns-full:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
/* GENERAL */

/* HEADER */
.logowrapper {
  background-color: white;
}
/* HEADER */

/* NAV MENU */
.menubox {
  background: rgba(0, 0, 0, 0)
    linear-gradient(122deg, transparent 6%, #b30000 0%) repeat scroll 0 0;
  width: 100%;
  float: left;
  background-size: 100% 100%;
}
.search-box i {
  background-color: white;
  color: #800000;
}
.con_details i {
  color: #800000 !important;
}
.footer .custom-social-icons i {
  color: #800000;
  background-color: white;
}
.search-box i:hover {
  background-color: #800000;
  color: white;
}
.toggle-nav button {
  background-color: white;
}
.toggle-nav i {
  color: #800000;
}
.toggle-nav button:hover {
  background-color: #800000;
}
.toggle-nav i:hover {
  color: white;
}
/* NAV MENU */

/* MAIN */
#honored p {
	text-align: justify;
	line-height: 1.6;
	font-size: 1em
}
#honored strong {
	color: orangered;
}
#honored ul {
	list-style-type: none;
	padding: 0;
}
#honored ul li {
	letter-spacing: 1px;
	font-size: 16px;
	line-height: 2;
	padding-left: 3em;
}
#honored ul li::before {
  content: "✔";
	font-weight: bolder;
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; 
  width: 1.3em;
	color: #800000;
}
.intro {
	width: 90%;
	margin: 2% auto !important
}
/* MAIN */

/* CLIENTS OPINION */
#client {
	width: 90%;
	background-color: white;
	margin: 2% auto;
	border: 1px solid #eee;
}
.fa-star:before {
	color: #b30000;
}
.str li {
  margin-right: 10px;
}
#clients {
  margin-top: 50px;
}
.client {
	margin-left: 3%;
	margin-right: 3%; 
}
.client-title h2{
	color: #b30000;
}
.cl {
  margin-top: 70px;
}
.middle-area a {
	color: black;
	text-decoration: none;
  font-size: 16px;
  font-weight: 900 !important;
}
.middle-area a:hover {
	color: orangered;
	transition-duration: 0s;
}
.middle-area {
  margin-top: 10px;
  margin-bottom: 10px;
}
.client p {
	margin-top: 5%;
  font-size: 13px;
}
.img-cm {
  width: 50px;
  border-radius: 30px;
}
.right-area a {
  font-size: 12px;
}
/* CLIENTS OPINION */

/* FOOTER */
.footer {
  background: #b30000;
  border-top: 1px solid orangered;
}
.footer .custom-social-icons i {
  color: #800000;
  background-color: white;
}
.footer .custom-social-icons i:hover {
  color: white;
  background-color: #800000;
}
.footer p,
.footer a,
.footer h3,
.footer em {
  color: white !important;
}
.footer-2 {
  background: #660000;
}
.footer p {
  margin-bottom: 0.5rem;
}
div.footer-2 a,
h1.single-post-title,
.custom_details {
  display: none;
}
.footer ul li {
  list-style-type: disc;
  margin-left: 8%;
}
/* FOOTER */

/* OFFERT */
ul#oferta {
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 5px;
  border: 1px solid #b30000;
  width: 80%;
  margin: 2.5% auto;
}
ul#oferta li {
  list-style-type: "✔";
  padding-inline-start: 1ch;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 15px;
}
ul#oferta li::marker {
  color: orangered;
  font-size: 25px;
}
ul#oferta li i {
  color: #ff5400;
  font-size: 25px;
  margin-left: 10px;
}
ul#vehicles {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #b30000;
  width: 80%;
  margin: 2.5% auto;
	padding: 5%;
}
p#vehicles-desc {
  background-color: white;
	padding: 5%;
  border-radius: 5px;
  border: 1px solid #b30000;
  width: 80%;
  margin: 2.5% auto;
  font-size: 15px;
}

ul#vehicles li {
  font-size: 15px;
  list-style-type: none;
  text-align: justify;
  margin-top: 10px;
}
ul#vehicles li li {
  list-style-type: circle;
  margin-top: 0;
}
ul#vehicles li i {
  color: #ff5400;
  font-size: 20px;
  margin-right: 10px;
}
/* OFFERT */

/* PRICE */
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.price .header {
  color: white;
  font-size: 25px;
  line-height: 1.25;
}
.header-color-green {
  background-color: #12b34c;
}
.header-color-blue {
  background-color: #0d8fff;
}
.header-color-orange {
  background-color: #ff5400;
}
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}
.price li.offer-item {
  font-size: 14px;
  line-height: 1.25;
  background-color: white;
  text-align: left;
  list-style-type: "✔";
  list-style-position: inside;
}
.price li.offer-item::marker {
  color: #12b34c;
}
.price .grey {
  background-color: #eee;
  font-size: 20px;
}
/* PRICE */

/* CONTACT */
.entry-content ul.contact-list li {
  font-size: 16px;
  line-height: 25px;
}
/* CONTACT */

/* FORM */
form.wpcf7-form {
  margin-bottom: 2%;
  width: 100%;
  border: 1px solid #b30000;
  padding: 1%;
  border-radius: 20px;
  background: #ffffff;
}
form.wpcf7-form p {
  color: #b30000;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-transform: uppercase;
  padding: 0.25%;
}
form.wpcf7-form input[type="text"],
form.wpcf7-form input[type="email"],
form.wpcf7-form textarea {
  margin: 0;
  background: #fafafa;
  border-radius: 10px;
}
form.wpcf7-form input[type="submit"] {
  margin: 0;
  background: #b30000;
  color: white;
  border: none;
  margin: auto;
  width: 60%;
}
form.wpcf7-form input[type="submit"]:hover {
  background: white;
  color: #b30000;
  border: 1px solid #b30000;
}
.wpcf7-not-valid-tip {
  color: blue;
  font-weight: bolder;
  font-size: 12px;
  padding-top: 1%;
}
/* FORM */

/* FORM - RANGE INPUT */
input[type=range] {
  width: 100%;
  margin: 3.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: rgba(123, 0, 0, 0.3);
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -4px;
  width: 33px;
  height: 16px;
  background: #ffffff;
  border: 1.9px solid #ff0000;
  border-radius: 16px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ff0606;
}
input[type=range]::-moz-range-track {
  background: rgba(123, 0, 0, 0.3);
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 33px;
  height: 16px;
  background: #ffffff;
  border: 1.9px solid #ff0000;
  border-radius: 16px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4.8px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: rgba(123, 0, 0, 0.3);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  width: 33px;
  height: 16px;
  background: #ffffff;
  border: 1.9px solid #ff0000;
  border-radius: 16px;
  cursor: pointer;
  margin-top: 0px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(123, 0, 0, 0.3);
}
input[type=range]:focus::-ms-fill-upper {
  background: #ff0606;
}
@supports (-ms-ime-align:auto) {
  input[type=range] {
    margin: 0;
  }
}
#input_scale {
	display: flex;
  align-items: stretch;
	margin-bottom: 3%;
}
#input_scale div {
	background-color: #b30000;
	color: white;
	width: 100%;
	border: 1px solid white;
  text-align: center;
}
/* FORM - RANGE INPUT */

/* TEAM */
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  border: 1px solid #eee;
  background: white;
  width: 90%;
  margin: 0 auto 2% auto;
  padding: 2% 0;
}
.cards .card {
  flex: 0 0 250px;
  margin: 10px;
  border: 1px solid #b30000;
  background: white;
}
.cards .card .text {
  padding: 0 25px 25px;
  text-align: center;
  font-size: 14px;
}
.cards .card .text h3 {
  font-weight: bolder;
  text-align: center;
  padding: 20px 0 0 0;
  font-size: 18px;
  color: #b30000;
}
.cards .card img {
  margin: 10% 10% 0 10%;
  width: 80%;
  border: 1px solid #b30000;
  border-radius: 100%;
  padding: 2%;
}
.cards .card img:hover {
  filter: sepia(40%);
	padding: 0%;
	border: 1px solid white;
	transition-duration: 0.25s;

}
/* TEAM */

/* MEDIA */
@media only screen and (max-width: 600px) {
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8%;
  }
  .box h5 {
    text-align: center;
  }
  .columns {
    width: 100%;
  }
  .columns-double {
    width: 100%;
  }
  .columns-full {
    width: 100%;
  }
  .entry-content ul.contact-list li {
    font-size: 12px;
    line-height: 20px;
  }
  p > span.custom_desc {
    font-size: 14px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
  li.header.header-color-blue {
    font-size: 16px;
  }
  li.header.header-color-green {
    font-size: 16px;
  }
  li.header.header-color-orange {
    font-size: 16px;
  }
  p > span.custom_desc {
    font-size: 15px;
  }
}
/* MEDIA */
